# Logs
logs
*.log
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/pnpm-debug.log*
dashboard/lerna-debug.log*

main-layout/npm-debug.log*
main-layout/yarn-debug.log*
main-layout/yarn-error.log*
main-layout/pnpm-debug.log*
main-layout/lerna-debug.log*

users/npm-debug.log*
users/yarn-debug.log*
users/yarn-error.log*
users/pnpm-debug.log*
users/lerna-debug.log*

dashboard/node_modules
main-layout/node_modules
users/node_modules

dashboard/dist
dashboard/dist-ssr
dashboard/*.local

main-layout/dist
main-layout/dist-ssr
main-layout/*.local


users/dist
users/dist-ssr
users/*.local


# Editor directories and files
dashboard/.vscode/*
dashboard/!.vscode/extensions.json
dashboard/.idea
dashboard/.DS_Store
dashboard/*.suo
dashboard/*.ntvs*
dashboard/*.njsproj
dashboard/*.sln
dashboard/*.sw?

users/.vscode/*
users/!.vscode/extensions.json
users/.idea
users/.DS_Store
users/*.suo
users/*.ntvs*
users/*.njsproj
users/*.sln
users/*.sw?

main-layout/.vscode/*
main-layout/!.vscode/extensions.json
main-layout/.idea
main-layout/.DS_Store
main-layout/*.suo
main-layout/*.ntvs*
main-layout/*.njsproj
main-layout/*.sln
main-layout/*.sw?


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
